<!DOCTYPE html>
<html>
<head>
    <title>Are you sure?</title>
</head>
<body>
    <p>Are you sure you want to delete this post?</p>
    <br/>
    <form name="delete" method="post" action="/deletepost">
        <input type="hidden" name="postid" value=<%= thepost._id.valueOf() %>/>
        <button type="submit" name="no">No</button>
        <button type="submit" name="yes">Yes</button>
    </form>
</body>
</html>